function Ball.drawSprite 4
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Ball_0
    push local 0
    push argument 4
    lt
    not
    if-goto Ball_1
    push local 0
    push argument 1
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Ball_2
    push local 1
    push argument 5
    lt
    not
    if-goto Ball_3
    push local 2
    push constant 1
    push argument 5
    push constant 1
    sub
    push local 1
    sub
    lt
    and
    pop local 3
    push local 3
    push constant 0
    eq
    not
    not
    if-goto Ball_5
    push argument 2
    push local 1
    add
    push argument 3
    push local 0
    add
    push argument 2
    push local 1
    add
    push constant 1
    add
    push argument 3
    push local 0
    add
    push constant 1
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Ball_4
label Ball_5
label Ball_4
    push local 1
    push constant 1
    add
    pop local 1
    goto Ball_2
label Ball_3
    push local 0
    push constant 1
    add
    pop local 0
    goto Ball_0
label Ball_1
    push constant 0
    return
function Ball.new 0
    push argument 0
    pop pointer 0
    push constant 0
    push this 0
    add
    push constant 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push this 0
    add
    push constant 7
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push this 0
    add
    push constant 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    pop this 3
    push constant 2
    pop this 4
    push constant 0
    return
function Ball.init 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push this 1
    push constant 0
    lt
    not
    if-goto Ball_7
    push constant 0
    pop this 1
    goto Ball_6
label Ball_7
label Ball_6
    push this 1
    push constant 159
    gt
    not
    if-goto Ball_9
    push constant 159
    pop this 1
    goto Ball_8
label Ball_9
label Ball_8
    push this 2
    push constant 0
    lt
    not
    if-goto Ball_11
    push constant 0
    pop this 2
    goto Ball_10
label Ball_11
label Ball_10
    push this 2
    push constant 119
    gt
    not
    if-goto Ball_13
    push constant 119
    pop this 2
    goto Ball_12
label Ball_13
label Ball_12
    push constant 2
    pop this 3
    push constant 2
    pop this 4
    push this 2
    push this 1
    call Output.moveCursor 2
    pop temp 0
    push constant 16
    call String.new 1
    push constant 66
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 122
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    return
function Ball.move 0
    push argument 0
    pop pointer 0
    push this 1
    push this 3
    add
    pop this 1
    push this 2
    push this 4
    add
    pop this 2
    push this 1
    push constant 0
    lt
    not
    if-goto Ball_15
    push constant 0
    pop this 1
    goto Ball_14
label Ball_15
label Ball_14
    push this 1
    push constant 159
    gt
    not
    if-goto Ball_17
    push constant 159
    pop this 1
    goto Ball_16
label Ball_17
label Ball_16
    push this 2
    push constant 0
    lt
    not
    if-goto Ball_19
    push constant 0
    pop this 2
    goto Ball_18
label Ball_19
label Ball_18
    push this 2
    push constant 119
    gt
    not
    if-goto Ball_21
    push constant 119
    pop this 2
    goto Ball_20
label Ball_21
label Ball_20
    push this 2
    push this 1
    call Output.moveCursor 2
    pop temp 0
    push constant 14
    call String.new 1
    push constant 66
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push pointer 0
    push this 0
    push this 1
    push this 2
    push constant 3
    push constant 3
    call Ball.drawSprite 6
    pop temp 0
    push constant 0
    return
function Ball.checkCollisionWithBrick 2
    push argument 0
    pop pointer 0
    push argument 1
    call Brick.getX 1
    pop local 0
    push argument 1
    call Brick.getY 1
    pop local 1
    push this 1
    push local 0
    gt
    push this 1
    push local 0
    lt
    push constant 10
    add
    and
    push this 2
    push local 1
    gt
    and
    push this 2
    push local 1
    lt
    push constant 5
    add
    and
    not
    if-goto Ball_23
    push argument 1
    call Brick.destroy 1
    pop temp 0
    push this 4
    neg
    pop this 4
    goto Ball_22
label Ball_23
label Ball_22
    push constant 0
    return
function Ball.checkCollisionWithTrampoline 3
    push argument 0
    pop pointer 0
    push argument 1
    call Trampoline.getX 1
    pop local 0
    push argument 1
    call Trampoline.getY 1
    pop local 1
    push argument 1
    call Trampoline.getWidth 1
    pop local 2
    push this 2
    push local 1
    gt
    push this 2
    push local 1
    lt
    push constant 5
    add
    and
    push this 1
    push local 0
    gt
    and
    push this 1
    push local 0
    lt
    push local 2
    add
    and
    not
    if-goto Ball_25
    push this 4
    neg
    pop this 4
    goto Ball_24
label Ball_25
label Ball_24
    push constant 0
    return
function Ball.draw 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    lt
    not
    if-goto Ball_27
    push constant 0
    pop this 1
    goto Ball_26
label Ball_27
label Ball_26
    push this 1
    push constant 159
    gt
    not
    if-goto Ball_29
    push constant 159
    pop this 1
    goto Ball_28
label Ball_29
label Ball_28
    push this 2
    push constant 0
    lt
    not
    if-goto Ball_31
    push constant 0
    pop this 2
    goto Ball_30
label Ball_31
label Ball_30
    push this 2
    push constant 119
    gt
    not
    if-goto Ball_33
    push constant 119
    pop this 2
    goto Ball_32
label Ball_33
label Ball_32
    push this 2
    push this 1
    call Output.moveCursor 2
    pop temp 0
    push constant 14
    call String.new 1
    push constant 66
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push pointer 0
    push this 0
    push this 1
    push this 2
    push constant 3
    push constant 3
    call Ball.drawSprite 6
    pop temp 0
    push constant 0
    return